[2020-09-24 10:35] danspratling opened #1 "Check only a single nav exists OR multiple navs have aria labels"
Only a single navigation element is permitted. This is because `<nav>` dictates the *primary* navigation for the page (often the page header).

Where multiple navigations exist on a page (for example, the footer), any which aren't considered *primary* should not be wrapped in a `<nav>` tag.

Evidence: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav
(See usage notes)

[2020-09-24 10:56] SavvasStephanides opened #3 "Check a lang attribute exists in the <html> tag"
A `lang` attribute should exist in the `<html>` tag, which signifies to the screen reader what language the page is in.

Evidence: https://www.w3.org/WAI/standards-guidelines/act/rules/html-page-lang-b5c3f8/

[2020-09-24 10:57] danspratling opened #4 "Improve visibility on errors"
As an accessibility tool, there can't be any accessibility issues caused by the notification of error messages, but in its current state there are definitely some problems I can see.

Suggestions:
- Images have a grayscale filter applied, along with a border
- All borders are actually double-borders, with a light-red inner border and a dark-red outer border to ensure they are visible regardless of

[2020-09-24 12:49] jackdomleo7 commented on #4
These are good suggestions! I think we can look into this more and start working out what the best way to do _stuff_ is. 💪

[2020-09-24 15:53] danspratling opened #7 "Inputs missing labels & Labels missing inputs"
## Proposal:
Inputs missing labels (often when Placeholders are being used as labels) might have unclear intentions.

## Issue:
[code]
The placeholder in the above example is rarely read by screenreaders

## Issue 2:
[code]
The label in the above example exists, but is not associated with an element so will often be misinterpreted.

## Solution:
[code]
The above is the best-accepted solution, whic

[2020-09-24 15:59] jackdomleo7 commented on #7
I like this. But what about this scenario, which I often do:

[code]

I think the above solution would highlight this as an error? 🤔

I have to admit, my knowledge and research on this method in terms of accessibility where the `<label>` wraps the `<input>` is not solid.

[2020-09-24 16:03] danspratling opened #8 "Check the tabIndex of commonly tabbed to elements to ensure that they remain accessible"
## Proposal
Check the `tabIndex` of commonly tabbed to elements to ensure that they remain accessible.

## Problem
Sometimes, elements which should be able to be tabbed to have their tabIndex incorrectly set, meaning they are skipped over when navigating using the keyboard

[code]
The above button would be skipped past when navigating using the keyboard, making its associated form un-submittable.

[2020-09-24 16:06] danspratling commented on #7
It would, but I think as someone suggested to us on twitter, this approach is flawed as some screen readers don't correctly associate the inner input with the wrapping label.

So maybe in this case we would show a warning?

[code]

[2020-09-24 16:08] jackdomleo7 commented on #8
I like this feature! If I'm correct, using `tabIndex="-1"` means you can only focus on that element programmatically?

[2020-09-24 16:37] jackdomleo7 commented on #7
Ok, that sounds good. I think we should look deeper into #4 first so this works effectively.

[2020-09-24 18:33] David-Spudic opened #9 "Live Coding Review"
Looking at the project, **I was amazed how many features are already implemented**. However, I think I found one feature that would help the project to get to the next level. This is all about live coding.

## What do I mean by that?

By live coding I mean that it would be pretty cool if we as developers could see the bugs we are making while we are programming.

Since tools like W3C's are well es

[2020-09-24 22:48] danspratling commented on #9
I'm not entirely sure what you mean. This is a css based utility, which means once included errors will show up once the correct combination of tags/attributes appears.

If you're looking for something more programmatic which checks through the code you've written looking for more direct problems, content issues or similar then that's a problem reserved for other tools, like (eslint-plugin-jsx-a11

[2020-09-24 22:58] danspratling commented on #1
After discussion it had been noted that multiple navs may exist at once, but if they do should be labelled correctly.

Todo:
- [] adjust the test to ensure many navs may be present but if they are then "aria-label" or "aria-labelledby" must be defined and not empty on both elements.
- [] update error description to clearly explain this

[2020-09-24 23:48] jackdomleo7 opened #10 "Check for links that open in a new tab or a new window"
While the act of opening in a new window or tab isn't an accessibility concern itself, according to W3, it's essential to provide advanced warning to a user when a link opens in a new window or tab.

The A11y Project link:https://www.a11yproject.com/checklist/#identify-links-that-open-in-a-new-tab-or-window
W3 link: https://www.w3.org/TR/WCAG20-TECHS/G201.html

**Solution**

Provide only a warning

[2020-09-25 00:23] jackdomleo7 commented on #4
Currently working on this in the branch `#4-improve-visibility-on-errors`

[2020-09-25 00:36] jackdomleo7 opened #11 "Check that the only children of <dl> are <dt> and <dd>"
To comply with valid HTML and correct HTML semantics, the direct children of a `<dl>` can **only** be `<dt>` and `<dd>`.

W3: https://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-programmatic.html
MDN Docs: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl

**Solution**

Maybe a selector like this may work:

[code]

[2020-09-25 09:00] SavvasStephanides opened #13 "Check for correct order of heading tags"
Headings should be in the correct order [See here for more information](https://www.w3.org/WAI/tutorials/page-structure/headings/).

For example, this is correct:

[code]

This is incorrect because it goes from `h1` straight to `h3` (skipping `h2`):

[code]

Not completely sure how this can be done with `CSS`. I have tried this

[code]

which checks if an `h1` heading is followed by an `h3` or `h4

[2020-09-25 09:25] veerreshr commented on #11
Could I work on this issue ?

[2020-09-25 09:26] jackdomleo7 commented on #11
Absolutely!

[2020-09-25 10:10] jackdomleo7 commented on #13
I like this idea, but your last point was main concern. It's more common for headings to not be in the same _scope_. Let me consult @danspratling on ideas for this too. 🤔

[2020-09-25 10:28] danspratling commented on #13
You can use the `~` selector to select "any elements after".

Thinking about how you'd apply this you could do something like

[code]

Without testing this in actual code though I'm not sure if this is robust enough. Maybe it is, as once an h2 is present an h3 can be placed after it multiple times if required, which this should catch.

[2020-09-25 10:29] jackdomleo7 commented on #13
Hmm interesting. @SavvasStephanides if you'd like to, feel free to experiment this and see what you can find out? 😊 Or we can pick it up at some point.

[2020-09-25 10:35] danspratling commented on #13
Here's a pen I created quickly which covers how this should work. Seems robust enough to me

https://codepen.io/dan_spratling/pen/xxVBxgK

[2020-09-25 11:04] #11 closed

[2020-09-25 11:31] danspratling commented on #8
So just to confirm

- [ ] Error for the above elements if `tabIndex="-1"`
- [ ] Warn on any other element if tabindex is set at all?

[2020-09-25 11:34] jackdomleo7 commented on #8
Maybe the second one could be a different feature? But yes, I think that would be good.

[2020-09-25 17:46] devindford commented on #10
Working on this!

[2020-09-25 19:01] jackdomleo7 commented on #3
Do we need to refactor this feature to check for empty `lang` attributes too? I.e. `lang=""`.

[2020-09-25 19:18] jackdomleo7 opened #16 "Check for invalid HTML elements nested inside an <a>"
Nesting the following inside an `<a>` is invalid:

[code]

Evidence: https://stackoverflow.com/questions/6393827/can-i-nest-a-button-element-inside-an-a-using-html5/6393863#6393863

**Solution**

Show an error in the above elements are detected nested anywhere inside an `<a>`.

[2020-09-25 21:15] wulforr commented on #16
I would like to implement this if no one is already implementing it.

[2020-09-26 10:32] jackdomleo7 commented on #16
Sounds good! Be my guest. Be sure to pay close attention to the information in brackets too.

[2020-09-26 10:48] wulforr commented on #16
Sure I will keep them in mind

[2020-09-26 14:13] David-Spudic commented on #9
I think I caused some confusion with the examples of HTML etc.

What I wanted to show with my above suggestion is that the program is currently (as I saw it, please correct me if I'm wrong) trimmed so that you always have to manually start the CSS "validator" when you make changes.

But to give the user a more comfortable experience, you could automate this non-automated process. Thats what i want

[2020-09-26 16:06] jackdomleo7 commented on #9
I think I understand what you're asking and I think it will already do this. As you're writing the code/HTML, the CSS automatically hooks onto whatever you're writing, you don't have to restart anything.

E.g. you could inspect this comment and start adding your own HTML and automatically, the GitHub stylesheets will apply the styles to whatever you've just written in the inspector.

I'm happy to

[2020-09-26 16:41] #10 closed

[2020-09-26 16:49] jackdomleo7 opened #17 "Add links to 'Features' section in README"
Would it be useful to add links to the list of features on the README as a form of validity?

[2020-09-26 17:34] jackdomleo7 opened #18 "Warn when media is set to autoplay"
"Unexpected video and audio can be distracting and disruptive, especially for certain kinds of cognitive disability such as ADHD. Certain kinds of autoplaying video and animation can be a trigger for vestibular and seizure disorders." - The A11y Project.

Link: https://www.a11yproject.com/checklist/#make-sure-that-media-does-not-autoplay

**Proposed solution**

Check for when the `autoplay` attrib

[2020-09-27 23:08] jackdomleo7 opened #20 "Logo and icon wanted! Submit designs"
We are looking for someone to design and donate Checka11y.css a logo and an icon.

**Design brief**

- Keep it simple (this is an accessibility tool, so it can't be complex)

Logo:

- Must include `Checka11y.css`
- Should reflect accessibility 🤷‍♂️
- Dimensions:
  - Rectangular
  - At least `1280px width by 640px height`

Icon:

- Should be able to easily relate to the logo
- Will be primarily use

[2020-09-27 23:57] jackdomleo7 opened #21 "Release to npm"
This would be a good project to have published to npm with some good usage docs.

[2020-09-27 23:57] jackdomleo7 commented on #21
I'm working on this.

[2020-09-28 00:39] jackdomleo7 opened #22 "Check the dir attribute has the correct values"
The `dir` attribute can only have the values, `ltr`, `rtl` and `auto`.

Link: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/dir

**Proposed solution**

Throw an error if the `dir` attribute is anything other than `ltr`, `rtl` or `auto`.

[code]

[2020-09-28 08:47] devindford commented on #18
Hey Jack! I would love to work on this issue, can you please assign me to it!

[2020-09-28 08:53] jackdomleo7 commented on #18
Of course! A little more research may be required 😊

[2020-09-28 10:45] jackdomleo7 opened #23 "Missing keyword from some features in README"
The below features in the README need to be refactored to use the `direct` keyword. This needs changing because almost anything can go within an `<li>`, `<dt>` and `<dd>`, but these can **only** be the direct children of `<ul>`, `<ol>` and `<dl>`.

[code]

**Proposed solution**

[code]

[2020-09-28 11:36] danspratling commented on #3
@jackdomleo7 I think so. I'm pretty sure CSS equates `lang` and `lang=""` to `lang=true` which means that an empty lang check would technically pass, even though that's invalid.

[2020-09-28 11:40] danspratling commented on #18
@jackdomleo7 @devindford were you not able to assign yourself? I've been working under the assumption that people can "pick up" issues by self-assigning, rather than having to ask me and jack to assign them to it directly.

[2020-09-28 11:57] devindford commented on #18
I'll double check, I wasn't sure if that was a possibility

[2020-09-28 12:02] devindford commented on #18
I've found that unless you are the owner or a collaborator on the project, you can not assign issues or even self assign them.

[2020-09-28 12:09] jackdomleo7 commented on #3
Ok, awesome, we'll leave this as re-opened so it can be added to.

**Proposed solution**

[code]

[2020-09-28 12:10] jackdomleo7 commented on #18
Thank you for double checking for us @devindford! 😊

[2020-09-28 13:33] danspratling commented on #9
Going to close this. I don't think this is in scope and it appears the author agrees (based on the emoji).

CSS is automatic so at most you'll have to refresh the page after making changes to see them applied.

In future, it might be worth considering a tool with auto-reload if we convert this to a different approach than testing directly in HTML/CSS files but for now that would be a bit much.

[2020-09-28 13:33] #9 closed

[2020-09-28 14:16] #1 closed

[2020-09-28 14:19] SavvasStephanides commented on #3
Opened a new pull request for checking for empty `lang`: https://github.com/jackdomleo7/Checka11y.css/pull/25

[2020-09-28 14:21] #3 closed

[2020-09-29 19:56] #16 closed

[2020-09-29 21:12] wulforr commented on #4
Using after pseudo-element to display error message is also not visible for many elements such as img. We will need a way to display an error message for every element.

[2020-09-29 21:13] danspratling commented on #4
@wulforr I noticed this too, but not sure how to approach this with purely css.

[2020-09-29 21:15] jackdomleo7 commented on #4
Me neither. I was hoping for a pure CSS tool, doing this would require JS and changes to the consumer's markup 😕

[2020-09-30 10:16] Being-Maverick commented on #23
Hey @jackdomleo7 , I want to work on this. Please assign it to me.

[2020-09-30 10:18] jackdomleo7 commented on #23
Sure, if you wait until tomorrow to submit your pull request, you'll get a Hacktoberfest point 😊

[2020-09-30 12:06] Being-Maverick commented on #22
Hey @jackdomleo7 , I will resolve this. Please assign it to me.

[2020-09-30 12:07] Being-Maverick commented on #23
Thanks.

[2020-09-30 12:08] jackdomleo7 commented on #22
Sorry, I need to update the contributing guidelines. 1 issue per person at a time, unless you're a collaborator. Please complete #23 before doing this.

[2020-09-30 12:37] Being-Maverick commented on #22
Sure.

[2020-09-30 13:15] Being-Maverick opened #27 "test.html mentioned in CONTRIBUTING.md doesn't exist."
Within the Pull Request Process section, of the contributing guidelines, it is mentioned to update the test.html file, but it doesn't exist. It should be index.html, within the test directory, I suppose?

[2020-09-30 13:43] emmalearnscode commented on #20
Do you have any specific colours in mind?

[2020-09-30 15:19] wulforr commented on #27
@Being-Maverick good catch, it needs to be changed to index.html in test directory

[2020-09-30 15:31] wulforr commented on #4
@danspratling  @jackdomleo7 same here, If this is not possible we could try highlighting these elements more by changing opacity or background color.
This is the best that I can think of at the moment but this still does not solve of problem of not showing error message. It would give the user an idea that this element is wrong but not what is wrong in this element.

[2020-09-30 15:32] wulforr commented on #22
@jackdomleo7 can you assign it to me.

[2020-09-30 16:40] jackdomleo7 commented on #20
I was thinking some simple like pure black & white 😊

[2020-09-30 16:45] jackdomleo7 commented on #27
Good spot! I originally had a `test.html` file, but moved it into its own directory.

For whoever picks this up, I'd like it changing to `test/index.html` rather than saying `index.html in the test directory`. 😊

[2020-09-30 16:48] jackdomleo7 commented on #4
I think maybe, we should hold fire on this and get actual user feedback when I release the beta version. That will help us a lot and prevent us from jumping to conclusions. 😊

[2020-09-30 18:47] #23 closed

[2020-09-30 18:48] veerreshr commented on #27
Could I make these changes?

[2020-09-30 19:57] #20 closed

[2020-09-30 23:59] alvaromontoro commented on #13
That solution could be improved –correct me if I'm wrong– by adding the universal operator in this way:

[code]

Although it may not be too efficient, it will capture more cases as it considers a more realistic use of the headings in HTML (e.g., headings are rarely at the same level, they are normally within their own container/section.)

Here is a codepen with a demo: https://codepen.io/alvaromon

[2020-10-01 00:02] alvaromontoro commented on #13
This could potentially be integrated with something similar to what [Una Kravets suggested once on Twitter](https://twitter.com/una/status/1277652897606635523) (look at the second tweet as it's more accurate). Her solution targets a slightly different thing (but both cases highlight errors that need to be fixed.)

[2020-10-01 00:16] alvaromontoro opened #32 "Buttons should not contain interactive content"
### Describe the new a11y feature or project enhancement

A `<button>` tag should not contain interactive content.

### Describe the solution you'd like

Following an approach similar to what is done for the `<a>` tag, show an error message when interactive content is present as a descendant of a button.

### Link(s)

- [W3C Specification for `<button>`](https://html.spec.whatwg.org/multipage/form

[2020-10-01 00:28] jackdomleo7 commented on #32
Love this! Do you have an idea of what elements should not go inside a `<button>`? I have a feeling it's going to be nearly exactly the same as `<a>`.

[2020-10-01 00:40] alvaromontoro commented on #32
The list of elements is in the last link - [MDN docs: list of interactive content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Interactive_content):

Some elements belong to this category only under specific conditions:

[2020-10-01 04:24] alvaromontoro opened #33 "Headings should have content"
### Describe the new a11y feature or project enhancement

Headings are essential to communicate the organization and flow of a page. An empty/unreadable heading does not make sense from a semantic point of view, it could create problems with assistive technologies, and is a sign of an underlying problem (e.g., using tags/elements for visual results instead of for what they are supposed to mean).

[2020-10-01 04:35] alvaromontoro opened #34 "Buttons and links should have meaningful content"
### Describe the new a11y feature or project enhancement

Buttons and links should contain something that indicates what they are or what they are going to go. Having an empty link, or a button that is only an image, or an empty input button without a value can be confusing and doesn't provide enough information for screen reader users.

From [WCAG 2.1 Success Criterion 2.4.4 Link Purpose (In Cont

[2020-10-01 05:36] alvaromontoro opened #35 "Images should have a meaningful alternative text"
### Describe the new a11y feature or project enhancement

Images should nave a descriptive alternative text. Images in which the alternative text is "image" or "graphic" or a " " (blank space), are not providing enough information for assistive technologies.

### Describe the solution you'd like

This one is tricky because it can be really language-dependant. The same word that works in English (i

[2020-10-01 06:30] Manaswini1832 commented on #8
Hey Jack! I'd like to work on the negative tabIndex issue. Could you please assign me to it?

[2020-10-01 07:00] jackdomleo7 commented on #35
Thank you for submitting this issue.

I'm reluctant to add this in anytime soon, for two reason. The first reason as you pointed out, it would only catch English written websites, so we'll have a very specific feature. The second is that the `alt` text can be blank and it still be accessible, for example for decorative images - [see my example here](https://talk-a11y-at-the-forefront-of-our-minds.

[2020-10-01 07:01] jackdomleo7 commented on #33
I like this. I think we can further improve this to look for any empty element that shouln't be?

[2020-10-01 07:08] jackdomleo7 commented on #34
Hmm.... I like this idea. I'd be interested to the solution. 🤔

I'm curious because the below code:

[code]

I just as accessible as (providing `.sr-only` has the correct styles to hide the content):

[code]

I personally prefer the `aria-label` opion because it then allows you to accessibly apply CSS-only tooltips such as [Cooltipz.css](https://cooltipz.jackdomleo.dev), so a non-screen-reader use

[2020-10-01 07:09] #27 closed

[2020-10-01 07:43] danspratling commented on #13
While my approach may not be correct(it was more of a proof of concept), I can think of a few issues stemming from this way.

1. I don't think the ~ * isn't necessary, as I'm pretty certain ~ already checks children/descendents too. I might be wrong though, this will definitely need thorough testing.

1. Approaching the issue h2 ~ h1 will always result in an error, though it's perfectly valid to g

[2020-10-01 08:45] danspratling commented on #35
I disagree @jackdomleo7.

You make 2 points, so I'll address them separately.

1. Blank alt text is valid `alt=""` but an empty space is invalid `alt=" "`. This solution doesn't discourage empty alt text, but it does ensure that alt text is meaningful.

2. The project is already English language only, with all errors being written exclusively in English. There is definitely more which could be don

[2020-10-01 08:51] jackdomleo7 commented on #35
My apologies, I missed the blank space!

I suppose we could ignore the i18n for now and I'd be happy with that. My concern was focusing on that many devs/organisatiosn code in English, but their website may be an alternate language. So, having the errors in English is ok, but as @alvaromontoro pointed out, looking for English words in the `alt` attribute could be problematic.

I'm happy for a PoC

[2020-10-01 08:53] danspratling commented on #34
If both are valid, to avoid _opinionization_ why don't we just check at least one of those two approaches exist?

[2020-10-01 08:56] jackdomleo7 commented on #34
I agree, I wanted to clarify what @alvaromontoro was saying. 🙂

[2020-10-01 08:58] danspratling commented on #33
Aren't some elements valid without content?

One that springs to mind is `<i>` which is often used for icons `<i class=''fas fa-wheelbarrow"></i>`

[2020-10-01 09:03] danspratling commented on #17
@jackdomleo7 What kind of links were you thinking of?

[2020-10-01 09:11] jackdomleo7 commented on #17
For example, in the README:

`- Missing alt attributes on images (https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html)`

Just as validity of the features we have and why we have them.

[2020-10-01 09:12] danspratling commented on #34
I think we have enough context for this to get picked up.

- [ ] buttons are not empty
- [ ] buttons which contain only an image are aria-labelled
- [ ] buttons which contain only an image and no aria-label error
- [ ] links (`<a>`) are not empty
- [ ] links (`<a>`) which contain only an image are aria-labelled
- [ ] links (`<a>`) which contain only an image and no aria-label error

[2020-10-01 09:17] danspratling commented on #35
I think the question here is more _"is it better than before"_.

Validating these alt tags in English:
* Provides extra context for English speaking users
* Does not provide any less context or fewer features _than the current state of the product_ in other languages.

So I'd say go for it and expand later.

The only issue I can see is if another language uses "image" to mean an entirely different

[2020-10-01 09:20] danspratling commented on #17
I'm concerned with the readme becoming absolutely massive and unmanageable.

All the readme should cover (in my opinion) is
- What this is
- How to get set up
- How to contribute

Maybe we start putting together a documentation folder and have a references.md file which covers this for those who want to really dig into it?

[2020-10-01 09:39] jackdomleo7 commented on #17
That's a great idea.

- Created `/references.md` and add a link to it in the `README.md`
- Add links to official W3C docs (or other trusted source) for each feature

[2020-10-01 09:41] jackdomleo7 commented on #35
I'm happy with this.

The ideal is `checka11y.css` doesn't get pushed to production, so the devs can ignore the error if they know the wrong "image" was detected. But something we could improve down the line witn l18n.

[2020-10-01 09:59] shonamckenzie commented on #17
Hi @jackdomleo7 I'd like to look at this one if that's ok

[2020-10-01 09:59] SavvasStephanides commented on #13
@alvaromontoro Thanks for this. I don't know if I'm missing something here but it doesn't seem to catch when a `h4` is defined after a `h2` [when I test it](https://codepen.io/SavvStudio/pen/zYqVBVy).

[2020-10-01 12:16] Being-Maverick commented on #7
Hey @danspratling and @jackdomleo7 , I would like to resolve this issue. Please assign it to me.

[2020-10-01 13:09] alvaromontoro commented on #34
@jackdomleo7 The `:not()` modifier could be applied so only the buttons that don't have an aria-label are targeted. Something like this:

[code]

But that would have some false positives, as you can see on this demo: https://codepen.io/alvaromontoro/pen/vYGqxBN

[2020-10-01 13:12] jackdomleo7 commented on #34
Hmm ok. Good demo by the way. What do you think is the best solution?

Ideally, what we want is a feature that doesn't throw any false errors - so if that means not considering every option for now, then I'm happy with that. Part of a feature is better than no feature. 🙂

[2020-10-01 14:15] alvaromontoro commented on #33
Can I pick it this issue up?

[2020-10-01 17:12] cat-street commented on #32
I'd like to pick it up 🙂

[2020-10-01 18:13] danspratling commented on #35
This sounds like a good approach. It's not perfect but if Firefox doesn't allow textual conversions this this is the next best thing.

Do we know what happens in safari?

[2020-10-01 23:32] #22 closed

[2020-10-02 05:01] alvaromontoro commented on #35
Safari works fine as long as you don't add the alt text through the content (the solution above doesn't)

So doing this: `content: url(path-to-error-image);` works in Chrome and Safari, but doing this `content: url(path-to-error-image) / "alt text";` works only on Chrome. So better without it.

[2020-10-02 08:17] #32 closed

[2020-10-02 08:39] #18 closed

[2020-10-02 09:07] #33 closed

[2020-10-02 09:16] #8 closed

[2020-10-02 12:58] alvaromontoro commented on #35
I can pick up this one if you want to. But I'd need a couple of things:

1. A list of invalid alternative text. We could go with a logic close to the one that WebAIM Wave uses, and trigger the error when the alt:
    - Contains only space characters (alt=" "),
    - Is just a word from this list: "image", "graphic", "photo", "photograph", "drawing", "painting", "artwork", "logo", "bullet", "button

[2020-10-02 14:20] alvaromontoro commented on #34
As far as I know, there is no way to check if there's a text node alongside the element. So to avoid false positives, remove the check for image as only child, and check for a button that is empty and does not have `aria-label` or `aria-labelledby`.

[2020-10-02 14:33] danspratling commented on #35
1. I'm happy for you to take that approach. That sounds super thorough already. We can always update it if we need to go further. I would also say include all 5 bullets. We can reduce these later if users report it as being too aggressive.
2. How about "⚠️ Error: Alt text must describe the contents of the image". Then it prompts the users on how to improve it too.

[2020-10-02 14:49] alvaromontoro commented on #35
As the project uses SCSS/Sass, I could create a more generic mixing that generates the SVG based on some parameters (e.g., icon, color, line1, line2, line3). That way it could be extensible if needed for other rules.

[2020-10-02 16:23] alvaromontoro opened #46 "Package.json has a breaking syntax error"
### Details

The package.json is corrupted after a merge conflict. There's a comma in the wrong place. This makes the package.json to be invalid and the project cannot be installed or built.

### What is Expected?
package.json should be error free.

### What is actually happening?
Did a quick fix in this PR: #45

[2020-10-02 18:36] alvaromontoro commented on #46
This issue was fixed with #45

[2020-10-02 18:36] #46 closed

[2020-10-02 20:14] alvaromontoro commented on #13
@SavvasStephanides  That's why I mentioned that both solutions targeted different things:

- The one that you suggested works great at searching skipped headings in an incremental way (e.g., when you skip from h2 to h4)
- Una's approach is in the other direction looking for _descendant_ headings of a higher level (e.g., when you have an h1 inside an h2)

They can be combined and they'll highlight

[2020-10-02 23:28] jackdomleo7 commented on #35
Yeah! Let's wait for the SCSS branch first? I'm currently waiting for the rush of Hacktoberfesters to get their PRs in first. Then I'll update the SCSS branch with `master`, then I'll convert the recently added features to SCSS, then we'll merge it. Then by all means, I'd be happy for this solution!

[2020-10-02 23:29] jackdomleo7 commented on #34
Sounds good to me! I'd love to see a PR with various examples. 🙂

[2020-10-03 05:25] alvaromontoro commented on #34
This can be extended to `label` too.

[2020-10-03 05:44] alvaromontoro opened #48 "Avoid device/application dependent event handlers"
### Describe the new a11y feature or project enhancement

All the page functionality must be available via keyboard, but if elements have mouse events associated, those event handlers may not be triggered correctly with the keyboard. For example:

[code]

Apart from not being accessible via keyboard, many times these issues are a reflection of a different underlying problem (i.e., the `<div>` abov

[2020-10-03 05:50] alvaromontoro opened #49 "Show warning if element uses accesskeys"
### Describe the new a11y feature or project enhancement

Screen readers and other assistive technologies use shortcuts and keyboard combinations to facilitate their use. Access keys could interfere and conflict with the AT behavior and should be avoided.

### Describe the solution you'd like

Show a warning if an element has an access key. As it is an HTML attribute (`accesskey`), the elements wi

[2020-10-03 06:09] alvaromontoro opened #50 "Avoid inline styles with !important"
### Describe the new a11y feature or project enhancement

Users may define their own stylesheet for accessibility purposes. Inline styles can only be overridden using `!important`, and inline styles with `!important` cannot be overridden via a user stylesheet, so they should be avoided.

From [WebAIM](https://webaim.org/techniques/css/): "_To improve accessibility, end users may change browser def

[2020-10-03 06:32] alvaromontoro opened #51 "Avoid underlined text that could look like a link"
### Describe the new a11y feature or project enhancement

The `<u>` tag used to represent an underlined chunk of text. Since HTML5, its semantic meaning has changed (now it represents text that has some non-textual annotation associated), but many times it is still used just to underline text because its default styles include an underline.

This is an accessibility problem because, in general, an

[2020-10-03 17:25] jackdomleo7 commented on #48
Ah this seems really good! What error/warning message would you show to the user/developer? 🙂

[2020-10-03 17:28] jackdomleo7 commented on #50
This sounds like a fantastic feature!!!

[2020-10-03 19:04] alvaromontoro commented on #50
Can I take this one? I know I have a different one assigned, but it is "blocked" by the SCSS change

[2020-10-03 20:11] alvaromontoro commented on #48
The message that WebAIM shows is: "An event handler is present that may not be accessible. [...] The JavaScript events in use do not appear to be accessible to both mouse and keyboard users. To be fully accessible, critical JavaScript interaction should be device independent."

[2020-10-03 22:56] jackdomleo7 opened #52 "Show error/warning messages on elements that don't accept ::before and ::after"
### Describe the new a11y feature or project enhancement

A solution to showing error/warning on void HTML elements such as `<img />` or elements that cannot have a `::before` and `::after` attribute such as `<iframe>`. We currently show a border with no error/warning text. The following elements are ones I've found so far that don't accept the pseudo-elements (`::before` and `::after`):
- `<img>`

[2020-10-04 11:48] azhsetiawan commented on #49
Hi @alvaromontoro @jackdomleo7
Let me work on this

[2020-10-04 19:52] #17 closed

[2020-10-04 20:41] cat-street commented on #52
Just a random thought: set an background with error message picture URL, position it at the bottom and set a padding-bottom for it to be visible.
![Снимок экрана 2020-10-04 233621](https://user-images.githubusercontent.com/2076436/95026572-dd274280-069a-11eb-8c3d-e0bfd5c89360.png)

[2020-10-04 20:55] wulforr opened #55 "Avoid using flex-direction as column-reverse or row-reverse"
### Describe the new a11y feature or project enhancement
Screen Readers read the data according to the dom nodes so if the flex-direction is set to column-reverse or row-reverse then screen readers wont be able to read them correctly.

### Describe the solution you'd like
I cant think of a solution for this more discussion is required.

### Link(s)

[https://developer.mozilla.org/en-US/docs/Web/CS

[2020-10-04 23:00] jackdomleo7 commented on #55
I like the idea of this, sounds like this should be shown as a "WARNING", though. 🙂

I'm curious, how can we use CSS to test for CSS, especially because CSS doesn't affect the HTML structure. 🤔

[2020-10-04 23:54] #50 closed

[2020-10-05 07:40] shonamckenzie commented on #51
Hi @jackdomleo7 @alvaromontoro if you think this may be a good first issue then I'm happy to take a look and see if I can get a PR together

[2020-10-05 08:35] #49 closed

[2020-10-05 20:27] #4 closed

[2020-10-05 21:56] jackdomleo7 opened #56 "Show a warning if a link's href doesn't contain https"
### Describe the new a11y feature or project enhancement

Linking to a source that is not `https` could be seen as _not good_. While this is not strictly an a11y feature, I feel it is still an important thing to highlight. We should be avoiding using links that aren't `https`.

### Describe the solution you'd like

Show a warning if a link's `href` doesn't contain `https`.

[code]

### Link(s)

[2020-10-05 22:32] jackdomleo7 opened #57 "Create a website"
### Describe the new a11y feature or project enhancement

The `gh-pages` branch is reserved for the documentation/live demo website for Checka11y.css. We just need a website creating, with:

- Usage docs
- Links to:
  - Product Hunt
  - [GitHub repo](https://github.com/jackdomleo7/Checka11y.css)
  - npm
  - Yarn
  - [CHANGELOG](https://github.com/jackdomleo7/Checka11y.css/releases)
- Example page

[2020-10-06 11:42] IamMattL commented on #56
Im not sure about this, whether its http/https its controlled by the browser, http is fine and if the site your going to supports https it should redirect you to it (given its setup properly) but if you use https and it isnt supported then the link would be broken.

[2020-10-06 12:48] SavvasStephanides commented on #56
Not sure about this either. Sure `https` is more secure than `http` but I don't think it should be included as it's not strictly an accessibility feature. Plus it could be a pain when testing on local links.

[2020-10-06 12:49] jackdomleo7 commented on #56
Ok cool! Thank you @IamMattL @SavvasStephanides. Just a thought I had, but it's probably not needed. 🙂

[2020-10-06 12:49] #56 closed

[2020-10-06 12:55] tricinel opened #59 "Warn when using onclick on non-clickable elements"
### Describe the new a11y feature or project enhancement

I see this quite often in code bases, where devs will attach an `onclick` to some `div` or `span` and call it a day. This breaks keyboard navigation. Worse...sometimes there are onclick handlers that will just navigate the user to another page. This specifically fails [Success Criterion 1.3.1 and 2.1.1](https://www.w3.org/TR/2013/NOTE-WCAG2

[2020-10-06 13:01] tricinel opened #60 "Empty link text"
### Describe the new a11y feature or project enhancement

Anchor tags that are missing link text should probably be highlighted. I think the same could apply for buttons. It's not common, but it happened to me with frameworks where the property being accessed to display the link text was missing or came in as an empty string from the db. The linter won't catch this since `<a href="">{{ title }}</a

[2020-10-06 13:12] alvaromontoro commented on #60
This looks like #34 (I should have made it clearer and separate button/a requests.)

There is one case in which `<a>` can be empty and still be valid: when used as an anchor instead of a link:

[code]

The selector from the demo would need to be adjusted slightly to only select the anchors that have an `href` attribute.

[2020-10-06 13:14] tricinel commented on #60
Ah great, sorry, I missed that one :) That looks like it gathered more attention too, so I'd be more than happy to close this. Would be happy to do it by the way.

[2020-10-07 08:00] jackdomleo7 commented on #59
I like this idea and I like when you said, "I'm not sure if we should be that aggressive and ban all elements except buttons and anchor tags."

Consider the below CodePen for example, it uses `onlick` on the overlay `<div>` to trigger the functionality to close the modal. This is perfectly fine because the user has an alternative means of closing the modal in an "accessible way" by clicking or tab

[2020-10-07 08:01] jackdomleo7 commented on #60
No worries, but good to see we're all thinking alike 😊

[2020-10-07 08:02] jackdomleo7 commented on #60
No worries, but good to see we're all thinking alike 😊

Closing since this is a duplicate of #34.

[2020-10-07 08:02] #60 closed

[2020-10-07 09:20] tricinel commented on #60
@jackdomleo7 yep, sounds good. Is #34 up for grabs?

[2020-10-07 09:25] tricinel commented on #59
Yes, I agree. Hm...the problem with that approach is that clickable elements still need to be focusable. `onclick` turns the div into a clickable element, but it cannot receive keyboard focus (https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard). So we'd need to make sure they have keyboard handlers or make sure it has the aria-hidden attribute.

I think you're r

[2020-10-07 09:26] jackdomleo7 commented on #60
@tricinel Sure, comment on #34 so I can assign you.

[2020-10-07 09:29] tricinel commented on #34
@jackdomleo7 if it's alright with everyone, I'll give it a shot.

[2020-10-07 09:29] jackdomleo7 commented on #59
I think this may need a little more thought. 😊 I'd strongly argue the overlay doesn't need to be a `<button>` because it would confuse the keyboard user. Clickable divs are ok as long as you provide alternatives. In this case, the user does not need to click the overlay because the close `<button>` is an alternative for them.

[2020-10-07 09:31] tricinel commented on #59
Yep, I was agreeing :) Probably just warning would suit this better.

[2020-10-07 09:36] jackdomleo7 commented on #59
Sorry, I misudnerstood 😅 Yes this request has sparked another idea I have, I'll have to think on it. But maybe a warning message like "WARNING: Using a click event here may be inaccessible. Either make this a clickable element such as <a> or <button> or ensure you have provided an alternative accessible means of performing the same fuctionality."

That message is probably a bit long.

[2020-10-07 09:37] jackdomleo7 commented on #59
What elements should we check for or not check for? Only `<button>` or `<a>`?

[2020-10-07 09:43] tricinel commented on #59
How about

`WARNING: Potentially inaccessible click event used on non-clickable element. Ensure you have an accessible alternative`

[2020-10-07 09:44] tricinel commented on #59
This a good question! If we go with a warning, would it be sensible to check for all elements that are not button or anchors?

[2020-10-07 11:15] alvaromontoro commented on #59
#48 is a similar issue. I'll close it as a duplicate of this one because the conversation here goes beyond the other one.

From that issue, consider adding more events than `[onclick]`. Some of them can't be triggered with the keyboard at all (not even in the case of a `button`/`a`):

[code]

Also, the selector from the [shared demo](https://codepen.io/tricinel/pen/VwjZEPK) would need to be change

[2020-10-07 11:26] tricinel commented on #59
@alvaromontoro very good point, thank you! I will incorporate those as well.

[2020-10-07 11:28] alvaromontoro commented on #48
#59 is a similar issue and it has a long discussion with different points not covered here.

[2020-10-07 11:28] #48 closed

[2020-10-07 11:45] alvaromontoro commented on #59
About the overlay exception, I would still show the warning because –and I understand that this is a personal choice and not exactly related to a11y:

- Inline event handlers should be avoided when possible, to have a separation between functionality and presentation (see [unobstructive JavaScript](https://en.wikipedia.org/wiki/Unobtrusive_JavaScript)).
- The overlay would probably be hidden by de

[2020-10-07 15:56] #34 closed

[2020-10-07 16:16] tricinel commented on #59
I would agree with that. 👍 I'll put together a pen to see how it would work, if any other exceptions come to mind.

[2020-10-07 16:34] jackdomleo7 commented on #59
Awesome! I'll assign you for the time being 😊

[2020-10-07 19:12] Amansaxena001 commented on #21
Lets work together on this what u say? release this ASAP

[2020-10-07 19:16] jackdomleo7 commented on #21
I'm not sure how that would work because it's just one command in the terminal from the owner of the repo. Anyway, I forgot to close this item when I published it about 3 hours ago. 🙂

[2020-10-07 19:17] jackdomleo7 commented on #21
Closing this as I have published the first version to npm - v1.0.0

[2020-10-07 19:17] #21 closed

[2020-10-08 05:12] alvaromontoro opened #63 "Minified version is not being generated correctly"
### Details

The minified version is not being generated correctly because it is created but then overwritten by the expanded version.

If you run `npm run build`, it only generates checka11y.css but not checka11y.min.css

### What is Expected?

When you run `npm run build` both checka11y.css and checka11y.min.css are created.

### What is actually happening?

This is happening because there is a

[2020-10-08 05:17] alvaromontoro commented on #63
Created PR #64 to address this issue.

[2020-10-08 07:56] jackdomleo7 commented on #63
I'm a little confused, there was no intention to create a minified file just yet, didn't seem like it would serve much purpose, so I didn't configure it 🙂 If you're referring to the below script:

[code]

I had to compress checka11y.scss into checka11y.css, then expand checka11y.css into checka11y.css because the SCSS was putting non-important comments (I.e. comment that don't look like this `/*!

[2020-10-08 09:52] tricinel commented on #59
That's perfect, thanks @jackdomleo7!

This is what I came up with and seems to do the job: https://codepen.io/tricinel/pen/VwjZEPK

And then I figured, well, with some work you can make a div be accessible, keyboard and all, so I tried an experiment: https://codepen.io/tricinel/pen/KKMKYya. But I haven't figured out yet why the selector doesn't work. :( If you have any ideas, I'd appreciate them.

[2020-10-08 13:42] jackdomleo7 commented on #63
Sorry, this isn't a bug, it's intentional 🙂. Will close this issue and linked PR until we have an urgent need for a minified stylesheet.

[2020-10-08 13:42] #63 closed

[2020-10-08 13:43] alvaromontoro commented on #63
Ooops. I saw the reference to `checka11y.min.css` in the README instructions, but it was not being generated when doing `npm run build`, so I thought it was an issue with the package.json.

I guess it makes sense that it is not generated as it's a dev environment only thing (I'll cancel the PR). The README should be updated to remove that reference, or there may be more PRs like this.

[2020-10-08 13:43] alvaromontoro commented on #63
You closed it as I was pressing the send button :P
Thanks!

[2020-10-08 13:50] jackdomleo7 commented on #63
I'd be happy for you to correct the README though? That'd be useful 🙂 Good spot!

[2020-10-09 10:18] #51 closed

[2020-10-09 10:35] jackdomleo7 commented on #59
It's always good to do some proof of concept! 😊

Hmm... That is odd. I'm determined to get that second one working. Let me take a closer look and see what's going on.

If anyone else can figure it out, please shout out!

[2020-10-09 12:23] tricinel commented on #59
Weirdly enough, different combinations of the :not selector will work, but I haven't yet figured out why...Order shouldn't matter as far as I know...

Looking forward to seeing what you come up with.

[2020-10-10 21:43] alvaromontoro commented on #59
Why is it checking for `aria-label` and `aria-labelledby`?

[2020-10-12 11:24] tricinel commented on #59
@alvaromontoro I think it works without, as long as the div has an actual text element, or something labelled properly. Maybe we can discount that...as in, that should be a separate issue/warning.

Your demo looks good!

[2020-10-12 20:48] jackdomleo7 commented on #52
Anyone picking this item up, there is a solution in #65 that just needs to be applied to elements without a warning/error. Would be good to see some good developer documentation on how to use this warning/error and when to use it as opposed to the `content` property.

[2020-10-12 20:49] #35 closed

[2020-10-13 04:43] alvaromontoro opened #66 "Add Cypress testing tool (and write tests)"
### Describe the new a11y feature or project enhancement

This would be a project enhancement: adding a testing tool. Right now, all the checks to verify that the new change didn't affect anything already in place have to be done manually. This is error-prone (it's easy to miss something) and unsustainable in the long run, when many tests are reached.

### Describe the solution you'd like

My sugg

[2020-10-13 06:17] impressivewebs opened #67 "Live Demo Example?"
Looks like a nice project, and I know the website is still in the works, but it might be nice to add a simple demo page that demonstrates how this works, even if it's just temporary prior to the website launch.

[2020-10-14 06:33] tricinel commented on #59
@alvaromontoro @jackdomleo7 what are we thinking on this? I played around a little bit more on a side project with Alvaro's implementation for onclick and it worked fine.

Would we use that onclick implementation, combined with the other on* mouse/touch events, showing the same warning?

[2020-10-14 14:27] tricinel commented on #66
Ohhh...this would be really cool! I'd be more than happy to contribute as well!

[2020-10-16 15:45] jackdomleo7 commented on #66
This sounds really good! I have zero experience with Cypress 😅

[2020-10-16 15:48] jackdomleo7 commented on #59
I think I'm confident with @alvaromontoro's build on your build @tricinel. I think you've both established something reliable there and from the testing I've been able to do, there are no immediate things that I can see as "wrong". So I'm happy with this 😊

[2020-10-16 15:50] jackdomleo7 commented on #67
Sure, feel free to make a temporary demo page if you want. I'm currently tied up on something else in another project, so the website won't be soon.

Whoever wants to do this:
- Only work in the `gh-pages` branch because this is the website
- Use the `test/index.html` file in the `master` branch as a reference when doing this

[2020-10-16 17:12] alvaromontoro commented on #66
@tricinel If you want, I could push what I have –I added some tests and a couple of functions to be able to read `::before` and `::after` styles– and you can continue or we can divide the work. I don't know if the structure I have is the best; it works, but it would need some review.

[2020-10-16 17:44] tricinel commented on #66
Yeah, that'd be cool! I don't have that much experience with Cypress either - I'm looking forward to learning though. @alvaromontoro let's continue on your work if that's alright. 👍

[2020-10-16 17:45] tricinel commented on #59
Sweet! Sounds great! @alvaromontoro do you want to take it or should I?

[2020-10-19 16:58] danspratling commented on #55
There are also perfectly valid reasons to have the content change direction.

One example I use regularly is a left/right content grid like so, where the content would naturally stack (image > text > image > text) but to make it more visually appealing on desktop some of the rows are reversed (with the content remaining in the same order) which doesn't change the context.

![Screenshot 2020-10-19

[2020-10-19 20:34] jackdomleo7 commented on #55
Actually, you do make excellent points there @danspratling. I do this all the time without actually realising. 🤔

Closing as if we wanted to do this, we can't because it's impossible with just CSS.

[2020-10-19 20:34] #55 closed

[2020-10-21 02:18] apparebit opened #69 "Checking that <li> is the only direct child of <ul> and <ol> is too strict"
Checka11y.css currently flags any element but &lt;li&gt; that is directly nested within an unordered or ordered list as incorrectly placed. The documentation links to [Understanding WCAG 2.0](https://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-programmatic.html) but that page only provides high-level guidance.

The restriction on what elements may appear within lists is actuall

[2020-10-21 07:59] jackdomleo7 commented on #69
Hi, on those three links you provided, I'm not seeing any reference to `<script>` or `<template>` being a direct child of `<ol>` or `<ul>`. 🤔 Do you have any other links?

[2020-10-21 10:34] tricinel commented on #59
FYI, @alvaromontoro @jackdomleo7, I'm working on this...should be done today. 🚀

[2020-10-21 11:52] apparebit commented on #69
If you follow the two links to the HTML Living Standard (which is the definitive document specifying HTML), the description includes the “Content model”. That’s what you are looking for. Under that entry, you’ll find &lt;li&gt; and “script-supporting elements”. The latter is a link and, if you click on it, you’ll find that those elements are the two other elements.

[2020-10-25 13:43] #66 closed

[2020-10-25 13:47] #59 closed

[2020-10-26 17:06] Lewiscowles1986 opened #72 "CI"
Hello again. Thanks for writing this. It's interesting.

### Describe the new a11y feature or project enhancement

In order to help people contribute to this repository, it would be great to use GitHub to check all pull-requests automatically.

### Describe the solution you'd like

Automatically running lint and tests on all incoming PR's

### Link(s)

N/A

### Other

I'm willing to write this for

[2020-10-26 17:10] jackdomleo7 commented on #72
Hi. When I get chance, I was going to research how to automatically run the tests in some sort of pipeline, so the PR can't be merged until all tests pass. In terms of linting, I thought this would be more difficult because it will need to do a commit automatically.

But, if you can do this, then that would be super helpful!

[2020-10-26 17:15] Lewiscowles1986 commented on #72
Can you expand on

I'll supply instructions with the PR for adding guards for the primary branch

[2020-10-26 17:39] Lewiscowles1986 commented on #7
I am so sorry for tagging this. It was a mistake #73 does not address this in any way

[2020-10-26 17:45] Lewiscowles1986 commented on #72
As for Linting I can make it a separate PR, but I don't think it needs to commit. Linting at CI should be the whole repo, but a git reset in a github action, could equally as well have it check the changed files.

[2020-10-31 11:33] Lewiscowles1986 commented on #72
Linting PR is not merged 😉  feel like re-opening. We just got CI in without linting so-far

[2020-11-03 23:51] jackdomleo7 commented on #72
Reopening for @Lewiscowles1986 and linting 😉

[2020-11-04 15:00] Lewiscowles1986 commented on #69
so just to check after reading the HTML living specification...

Only:

* li
* script
* template

can be children of

* ol
* ul

Is this the issue @apparebit?

[2020-11-04 16:18] apparebit commented on #69
That's exactly it.

[2020-11-04 16:33] Lewiscowles1986 commented on #69
I'll see about making a PR. Should be relatively simple I think

[2020-11-06 22:19] #72 closed

[2020-11-06 22:28] #69 closed

[2020-11-10 01:41] jackdomleo7 commented on #57
Completed in #78

[2020-11-10 01:41] #57 closed

[2020-11-10 01:41] jackdomleo7 commented on #67
Completed in #78

[2020-11-10 01:41] #67 closed

[2020-11-12 18:23] jackdomleo7 opened #79 "Ability to disable warnings"
### Describe the new a11y feature or project enhancement

As a consumer of Checka11y.css, I would like to sometimes only ever see errors or only ever see warnings.

### Describe the solution you'd like

Maybe a specific stylesheet with only errors?

### Link(s)

N/A

[2020-11-12 23:52] jackdomleo7 commented on #7
I merged #43 into branch _valid_input_and_label_ and did a little more work.

It was throwing a false error for:
[code]

And I don't think `name` is required on an `<input>`. It's only required if you want to send data to the server.

Either needs a lot more thought or accept we can't do it with CSS.

[2020-11-12 23:57] jackdomleo7 commented on #13
@alvaromontoro are there any flaws in your proposed CodePen? https://codepen.io/alvaromontoro/pen/OJNeJwX

[2020-11-14 05:49] alvaromontoro commented on #13
@jackdomleo7 I think combining both methods like in the demo works fine. If you want I can pick this ticket (if it's not pre-assigned to anyone)

[2020-11-14 11:12] jackdomleo7 commented on #13
@alvaromontoro only if you want to, that'd be great! 😊 If not, don't worry, I was just gathering any missing information.

[2020-11-16 01:54] alvaromontoro commented on #13
Assign it to me then. I'll work on it.

[2020-11-16 10:21] kurtextrem opened #80 "Browser extension feature"
### Describe the new a11y feature or project enhancement

Would be great to use this as bookmark in the browser, then you can just click the bookmark whenever you wanna check the status.

### Describe the solution you'd like

Code:
[code]

Feel free to add it to the website/readme or similar.

[2020-11-17 23:52] #52 closed

[2020-11-20 04:37] alvaromontoro commented on #13
Found a bug in the demo... Need to add all the possible combinations of * and no-*. The rule is big and bugly, but now it seems to work fine.

[2020-12-02 14:08] #13 closed

[2021-01-08 09:06] jackdomleo7 commented on #80
Hi thanks for this feedback! I think it's a great idea, but I've edited the title from being a bookmark to being a browser extension. 🙂

[2021-01-12 08:34] jackdomleo7 opened #83 "Heading checks (<h1>-<h6>) are too opinionated"
### Details

### Screenshot(s)

N/A

### What is Expected?
The heading checks are more lenient so they don't throw any false errors.

### What is actually happening?
The heading checks are throwing false errors.

[2021-01-12 08:38] jackdomleo7 opened #84 "The error/warning messages inherit too many styles"
### Details

The error/warning messages inherit too many styles which causes inconsistencies on the web page. I propose looking at adding some styles (worth playing around to see what else is needed) such as:
- `text-transform: initial;`
- `text-decoration: none;`
- `letter-spacing: ____;`
- etc

### Screenshot(s)

![image](https://user-images.githubusercontent.com/43371432/104289713-611a7300-54b1

[2021-01-14 09:52] jackdomleo7 opened #86 "Update Cypress tests to test every feature"
### Describe the new a11y feature or project enhancement

Cypress was implemented in #68, but only a few tests were created for a few features. We ideally need to test every feature.

### Describe the solution you'd like

Test the features.

### Link(s)

N/A

[2021-01-14 19:08] #80 closed

[2021-01-14 19:11] jackdomleo7 opened #87 "Linting check always fails in PRs"
### Details

When submitting a PR, 2 automatic checks are run: Tests & Linting. But the linting check always fails.

### Screenshot(s)

N/A

### What is Expected?

Linting check runs successfully:
- Passes if the PR code is already linted
- Fails if the PR code is not linted

### What is actually happening?

Fails no matter what.

[2021-01-15 16:25] jackdomleo7 opened #88 "Error/Warning feature codes"
### Describe the new a11y feature or project enhancement

Each feature should have its own feature code (I.e. `W0001` or `E0001`), which the developer can lookup in the `features.md`, where there will be notes about possible solutions or links to resources to help them resolve their a11y issue.

### Link(s)

N/A

[2021-01-15 16:28] jackdomleo7 opened #89 "Show a warning if a <section> does not have a heading element within it"
### Describe the new a11y feature or project enhancement

According to MDN and w3, a `<section>` "should" contain a heading element (the heading element is used to describe the `section`). This should only be a warning and not an error because MDN and w3 both state "should" and not "must"; it's an advisory rather than a requirement.

### Link(s)

- https://developer.mozilla.org/en-US/docs/Web/HTML

[2021-01-15 17:08] #84 closed

[2021-01-22 19:31] #79 closed

[2021-01-23 21:08] alvaromontoro commented on #83
I'm looking into this and the different options suggested on #13.

The best option I've found so far is reducing the scope of the error to only the first appearance of the heading. For example, in the structure: h1 > h3 > h2 > h4, only the h2 would trigger an error because it is the first appearance and it goes after an h3. But any other of the options from #13 is tricky because it will highly dep

[2021-01-23 21:09] alvaromontoro commented on #83
Assign the ticket to me (if that's ok).

[2021-01-23 21:57] jackdomleo7 commented on #83
@alvaromontoro Thank you so much for this! It is really appreciated. Its such a complex feature 🙂

[2021-01-23 22:54] alvaromontoro commented on #83
I found a way by reducing the selectors considerably, but it may lead to confusion as it will highlight errors, but some other errors won't be highlighted. There wouldn't be false positives, but there could be false negatives (some will be shown as positives once the initial issue is fixed and the page is reloaded). The main issue I'm finding is that with CSS I can select children, younger sibling

[2021-01-24 09:47] #83 closed

[2021-01-29 11:03] jackdomleo7 opened #95 "lang attribute on <html> is set to a known language"
### Describe the new a11y feature or project enhancement

It would be nice to indicate if the value set on the `lang` attribute on the `<HTML>` is set to a know language string as [defined here by w3](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry).
Although this is a very long piece of work and may prove to be better suited in a JS accessibility tool.

### Link

[2021-01-29 11:20] jackdomleo7 opened #96 "Show a warning if any title attribute is detected (except on iframe)"
### Describe the new a11y feature or project enhancement

Show a warning if any `title` attribute is detected. `title` has [many accessibility issues](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title#accessibility_concerns) and should be replaced with a [more accessible technique](https://inclusive-components.design/tooltips-toggletips). This rule should **not** apply to t

[2021-01-29 13:35] SavvasStephanides commented on #95
Good idea. We could try using the [`@each` rule](https://sass-lang.com/documentation/at-rules/control/each) in Sass

[2021-01-29 13:49] SavvasStephanides opened #97 "Warning when [aria-hidden="true"] elements contain focusable descendants"
### Describe the new a11y feature or project enhancement

Whenever an element has `aria-hidden="true"`, it shouldn't have descendants that are focusable. These are:

* `<a>`
* `<area>`
* `<audio controls>`
* `<button>`
* `<iframe>`
* `<input>`
* `<select>`
* `<summary>`
* `<textarea>`
* `<video controls>`
* Any element with the contentEditable attribute
* Any element with a `tabindex` set to a num

[2021-01-30 10:02] jackdomleo7 commented on #97
Good idea! We've accounted for elements that can't have `::after`: In `src/shared/messages/_vector.scss`, you can find a mixin for applying an SVG background image. You can find an example of this when an image doesn't have any `alt` text.

[2021-02-01 17:48] #88 closed

[2021-02-02 15:50] #96 closed

[2021-02-02 21:40] #97 closed

[2021-02-14 21:27] alvaromontoro commented on #86
Need assistance with this?

[2021-02-16 19:22] jackdomleo7 commented on #86
@alvaromontoro You can do if you would like. I got as far as investigating running the tests on other browsers other than Chrome (but I bumped into some issues), then I had to move onto another project. My next plan was to make note of what exactly to test for, then I was going to write them. Unfortunately, I'm going to be on other projects for a few months.

[2021-02-22 19:41] #86 closed

[2021-02-22 19:44] jackdomleo7 commented on #87
Strangely, this didn't appear to fail in @alvaromontoro's PR (#103), which is the first time it hasn't failed 🤔

[2021-02-27 01:50] alvaromontoro opened #104 "Anchor tags should not be used as buttons"
### Describe the new a11y feature or project enhancement

Anchor tags should not be used as buttons, it is bad for accessibility and usability. Links should redirect to a resource/page, if they don't they probably should be buttons.

### Describe the solution you'd like

Display a warning if a link is being used as a button. Examples of links being used as buttons:

[code]

Basically, what should

[2021-02-28 00:40] jackdomleo7 commented on #104
I'm fully behind this idea. I think also from a DX point of view, seeing anchors can be quite confusing when they're acting as buttons. I also agree that this should be a warning.

[2021-02-28 21:58] alvaromontoro commented on #104
It seems like a simple change, good for someone looking for a first contribution.

I'll pick it if no one does after a while.

[2021-03-14 10:06] jackdomleo7 commented on #87
This also didn't fail on #105 🤔 If it doesn't fail on the next 2 PRs, then I will close this issue

[2021-03-18 10:32] jackdomleo7 opened #107 "Warning when using role="text" on heading elements"
### Describe the new a11y feature or project enhancement

The new `role="text"` is nice because it prevents a screenreader from breaking up sentences with `<span>` or `<strong>` inside, however when using it on a heading, it causes the heading to lose its semantic meaning.

### Describe the solution you'd like

[code]

### Link(s)

https://openinclusion.com/blog/using-role-text-enhance-mobile-scre

[2021-03-22 14:01] alvaromontoro opened #108 "Image has a long description attribute"
### Describe the new a11y feature or project enhancement

The [`longdesc`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img#attr-longdesc) attribute in images is deprecated and should not be used. It is not fully supported by HTML5, browsers, or screen readers. When present, it is commonly misused (it should point to an URL that is not an image).

### Describe the solution you'd like

[2021-03-22 16:36] alvaromontoro opened #109 "Link to potentially non-accessible document/app"
### Describe the new a11y feature or project enhancement

This is not an a11y mistake by itself, but it is something that I've seen in most accessibility checkers: showing a warning when there's a link to a Word, Excel, PowerPoint, or PDF document. Also, when there's a link to Youtube (because captioning is often missing or not well generated).

Those documents often have accessibility issues and

[2021-03-22 18:28] jackdomleo7 commented on #108
This is a brilliant idea and a nice feature to add to a future version 👌

[2021-03-22 18:30] jackdomleo7 commented on #109
I love this idea for a feature! 👍

[2021-03-23 02:53] alvaromontoro commented on #109
Based on the [WAVE-WCAG Mappings](https://docs.google.com/spreadsheets/d/1oSyK4QiyHf1zx-xrc4P9M7efYVv0vohNxVWjeHan8Iw), there are a few things that could be added to Checka11y.css as they can be detected via CSS:

Errors:

- Empty labels
- Empty table headers (th)
- <marquee> present on the document (I call dibs on this task :-P)
- <blink> present on document

Warnings:

- <video> present on docum

[2021-03-23 08:30] SavvasStephanides commented on #109
Not an bad idea for a feature, but maybe this could be a lower severity level than a warning. Maybe *advice* or *tip* or similar?

For example:

[code]

or

[code]

What do you think?

[2021-03-23 10:42] jackdomleo7 commented on #109
I'm not too sure. I feel `Error` and `Warning` keep it simple. If we were going down the tip/advice route then arguably we could change a lot of the warnings to be tips/advice as there is overlap between what a warning is and what a tip is, e.g. `WARNING: Links that open in a new tab or window should be communicated to the user, ensure the user knows of this behavior`.

I think for now keep it as

[2021-03-26 02:44] alvaromontoro commented on #109
Personally, I find the warning a bit "excessive" (it is not for the actual page, but for the linked element). It would make sense to have it as a tip/advice, but as that's not available, a warning should do (if added).

[2021-10-02 11:50] emmalearnscode commented on #107
Can I work on this one?

[2021-10-02 14:12] Deep1Shikha commented on #108
@jackdomleo7 , I would like to pick this issue. Please assign it to me.

[2021-10-02 14:41] Matrix278 commented on #104
Hi, can I try to work on this feature?

[2021-10-02 14:48] jackdomleo7 commented on #108
@Deep1Shikha absolutely 🙂

[2021-10-02 14:48] jackdomleo7 commented on #108
Accidentally clicked the close button - _for auditing_

[2021-10-02 14:52] jackdomleo7 commented on #107
@emmalearnscode absolutely!

[2021-10-02 14:53] jackdomleo7 commented on #104
@Matrix278 absolutely!

[2021-10-02 16:34] Matrix278 commented on #104
Do you have anything about how the branch should be named?

[2021-10-02 16:49] jackdomleo7 commented on #104
@Matrix278 not really, any naming is fine - as long as it describes the feature somewhat 🙂

[2021-10-02 18:18] emmalearnscode commented on #107
Hi Jack, when I run npm install it fails and tells me I need to install Python - is this something I need to do or is something else going wrong? I can't see any python files in the code and it's not mentioned in the contributing instructions.

[2021-10-02 20:12] jackdomleo7 commented on #107
Hi @emmalearnscode , correct, there is no Python in this project. But there is Sass which is built using Python I believe in the background. Maybe this StackOverflow helps? I encountered this when I first installed Sass and can't remember the exact solution https://stackoverflow.com/questions/45801457/node-js-python-not-found-exception-due-to-node-sass-and-node-gyp/45807410#:~:text=The%20error%20m

[2021-10-02 20:19] emmalearnscode commented on #107
Ok, thanks! I'll see if I can get it up and running tomorrow. I've already added most of the changes, just need to get it to build and run tests.

[2021-10-03 04:27] shamahdotdev commented on #89
Hey there, I can help you with this feature, can you assign it to me?

[2021-10-03 06:37] jackdomleo7 commented on #89
@shamahdotdev certainly. I've had a couple of attempts at this already and couldn't figure it out so would be interesting if you can figure it out 🙂

[2021-10-03 13:29] jackdomleo7 opened #112 "Replace node-sass with Sass"
### Describe the new a11y feature or project enhancement

node-sass is being deprecated, so we need to update to use Sass instead

### Describe the solution you'd like

Replace node-sass with Sass

### Link(s)

- [Sass: LibSass is Deprecated](https://sass-lang.com/blog/libsass-is-deprecated)

[2021-10-03 13:56] #107 closed

[2021-10-03 15:53] jackdomleo7 opened #113 "Update from Cypress 6 to Cypress 8"
### Describe the new a11y feature or project enhancement

We'd like to update Checka11y.css to use Cypress 8 rather than Cypress 6 so we can remain up to date with Cypress and make use of new features if needed

### Describe the solution you'd like

Upgrade to Cypress 8

### Link(s)

N/A

[2021-10-03 16:05] #104 closed

[2021-10-03 16:34] jackdomleo7 commented on #113
I tried updating to npm7 in a previous PR but couldn't because of an issue with the Cypress tests not running 😕

[2021-10-03 17:07] #112 closed

[2021-10-03 17:13] jackdomleo7 commented on #87
This may have been resolved in #114

[2021-10-06 12:43] shamahdotdev commented on #89
Thank you @jackdomleo7, and yes it would've been easier to use `:has()` pseudo selector but unfortunately it's still on experiment and no browser was supported yet. So my attempt is to paint all last child element on a section with warning messages and remove it if heading element exist, i also use `:before` to make sure it didn't conflict with other error/warning. I hope it's find because i think

[2021-10-07 10:18] jackdomleo7 commented on #89
I like the idea of `:has()`, shame it has 0% support on caniuse.com. But I think your suggested approach is a good one for now. I'd be happy to look at your PR now.

[2021-10-08 08:46] #89 closed

[2021-10-08 11:51] jackdomleo7 commented on #95
I had an idea on this:
- Find an API that can provide us a JSON array of all the accepted `lang` codes _(struggling with this bit)_
- Create a JS script that will dynamically create a `_lang.scss` file with an SCSS equivalent array _(this'll be interestingly tricky)_
- Run this script on pre-build so it runs just before we convert the SCSS to CSS
- Voila!

[2021-10-08 21:35] jackdomleo7 commented on #95
I was able to find an API to do this. But after reading the w3 docs on the HTML `lang` attribute, it seems that a `lang` attribute can actually be very complex: [read here](https://www.w3.org/International/articles/language-tags/#rfc).

![image](https://user-images.githubusercontent.com/43371432/136626208-55411a1e-f1a0-4a34-b9f8-c21dc5c74694.png)

At the very most, I have only ever seen `language-

[2021-10-09 14:51] jackdomleo7 opened #117 "Improve speed of tests"
### Describe the new a11y feature or project enhancement

The Cypress tests can take up to 2 minutes to run, which uses up minutes and storage in the GitHub workflow. The tests are extremely simple, so can we find a way to make the tests a lot quicker? I.e. Could we change to Jest?

### Describe the solution you'd like

Tests to runner quicker. Anything is an improvement.

### Link(s)

- https://g

[2021-10-09 20:02] jackdomleo7 opened #119 "Important comment is repeated thrice in main checka11y.css file"
### Details

The below comment should only appear in the `checka11y.css` file once, but it appears 3 times. _(NOTE: Version may be different to the time this was raised)_

[code]

### Screenshot(s)

N/A

### What is Expected?
Important comment to only appear once in `checka11y.css`.

### What is actually happening?
Important comment is appearing 3 times in `checka11y.css`.

[2021-10-09 21:02] jackdomleo7 commented on #109
Hey @tannerdolby, of course! Thank you.

[2021-10-10 01:38] caseynv commented on #119
Can i be asigned this for an outreachy contribution. Thanks

[2021-10-10 02:27] tannerdolby commented on #119
Since caseynv was here first, they deserve first dibs. Otherwise, iff this becomes stale, I'm happy to be the "fallback" assignee!

[2021-10-10 06:52] jackdomleo7 commented on #113
That would be really useful! Thanks @tannerdolby !

[2021-10-10 07:03] jackdomleo7 commented on #119
Of course @caseynv ! Thank you.

[2021-10-10 18:36] tannerdolby commented on #109
Your welcome @jackdomleo7! Thanks for setting up a clear process for contributing, this project is such a gem.

[2021-10-10 19:23] tannerdolby opened #123 "Migrate all @import at-rules to @use in Sass"
### Describe the new a11y feature or project enhancement

While contributing to this project, I noticed that there are quite a few `@import` rules being used for importing stylesheets, mixins, vars etc. Since there is awhile before the Sass team deprecates `@import` in `dart-sass` for good, this isn't super high priority but it is a good idea to begin the migration from `@import` to `@use` sooner

[2021-10-10 19:26] tannerdolby commented on #123
I'm happy to be assigned this one too, if that is okay @jackdomleo7! 🚀

[2021-10-10 19:28] jackdomleo7 commented on #123
Sounds like a good idea and good to be on the ball with these things. I recently replaced node-sass with dart-sass in this project so that's good too. I didn't even realise dart-sass were planning on deprecating `@import`.

[2021-10-12 04:44] tannerdolby commented on #113
I haven't got around to this yet, but here is a link for reference when I get started.

https://docs.cypress.io/guides/references/migration-guide

[2021-10-12 15:54] jackdomleo7 opened #125 "Create Kanban project board"
### Describe the project enhancement

Set up a Kanban project board so issues can be easily tracked. _May require edits to contributing guidelines and issue templates._

[2021-10-13 20:00] #125 closed, assigned to jackdomleo7

[2021-10-13 20:33] jackdomleo7 opened #127 "[BUG]: GitHub doesn't seem to allow contributors to choose one of the pull request templates"
# Bug Report

## Details of the bug

Checka11y.css version: N/A

GitHub doesn't seem to allow contributors to choose one of the pull request templates despite following this [official GitHub guide](https://github.blog/2018-01-25-multiple-issue-and-pull-request-templates) on setting multiple pull request templates.

## What is the expected result?
Contributors should be allowed to choose a pull req

[2021-10-14 08:31] jackdomleo7 opened #129 "[ENHANCEMENT]: Make Sass a peerdependency"
# Project Enhancement or Maintenance Idea

## Describe the enhancement or maintenance

Sass should be added as a peer dependency so developers using Checka11y.css are aware that Checka11y.css runs better with sass installed. Sass should be set as an **optional** peer dependency though since developers using this package may only be planning on using the vanilla CSS files, in which case they don't

[2021-10-14 08:36] jackdomleo7 opened #130 "[ENHANCEMENT]: Refactor Sass !default variables to have a less general name and more specific to Checka11y.css"
# Project Enhancement or Maintenance Idea

## Describe the enhancement or maintenance

The Sass variables used in Checka11y.css that are intended to be overridden have a too generic name when developers are overriding them. As an example below, this is a proposed change (prefix with `checka11y-`):
`$text-warning: #856404 !default;` => `$checka11y-text-warning: #856404 !default;`
_This will be a br

[2021-10-14 11:15] jackdomleo7 opened #131 "[ENHANCEMENT]: Create branch for v1 ready for v2 implementation"
# Project Enhancement or Maintenance Idea

## Describe the enhancement or maintenance

We need to create a `v1` branch before we deploy v2. This is so we can easily manage both v1 and v2 and deploy bug fixes to v1 without impacting v2. We should consider deleting the v1 branch and any future 1.x deployment after 12 months of the 2.x release (to be determined).
In order to do the above, we will nee

[2021-10-14 11:19] jackdomleo7 opened #132 "[DOCUMENTATION]: Migration guide for migrating from v1 to v2"
# Documentation Issue or Feature

## Describe the documentation issue or feature request

I feel a small migration guide on how to convert from v1 to v2 is needed. Could we make use of GitHub Wikis for this?

## Acceptance criteria

- [ ] Create wiki
- [ ] Add link to wiki to README
- [ ] Add link to wiki to CHANGELOG release

## Why is this important?

Useful for any developer who is confused on

[2021-10-14 11:31] jackdomleo7 opened #133 "[DOCUMENTATION]: Move the documentation website source code into the master branch"
# Documentation Issue or Feature

## Describe the documentation issue or feature request

Currently, the documentation website source code is sitting in the `gh-pages` branch. I want to change this so it sits in a `docs/` directory in the `master` branch, then automatically deploy to the `gh-pages` branch. I also want to utilise Nuxt 3 rather than raw HTML, CSS & JS.

## Acceptance criteria

- [ ]

[2021-10-14 20:12] #129 closed

[2021-10-14 22:22] #123 closed

[2021-10-15 07:28] #131 closed, assigned to jackdomleo7

[2021-10-20 21:39] jackdomleo7 commented on #117
@Manishgupta200 just need to double-check with @tannerdolby whether he's ok with this since he said he might keep a look out for low hanging fruit while working on a related ticket.

If @tannerdolby is happy for you to take this ticket then I am too. Would be worth keep @tannerdolby in the loop though, because you'll both have tickets relating to the Cypress tests and I'd hope for any work to be d

[2021-10-21 06:50] jackdomleo7 commented on #117
Thank you for the breakdown @tannerdolby! I think my main concern is finding the fastest tool since I feel these tests are relatively simple.

[2021-10-21 15:47] tannerdolby commented on #117
Your welcome @jackdomleo7! Yeah, agreed the test cases are simple so finding the most performant tool would be ideal. After researching a bit, I couldn't confidently declare a clear "performance" winner between the two. From my experience in MDN Web Docs and GoogleChrome repos, they are using Jest for testing.

If we can find a definitive place that says "X is faster than Y" then I think we should

[2021-10-21 16:39] jackdomleo7 commented on #117
I think the Cypress UI is unnecessary here. We can probably integrate a UI diffing tool in Jest.

I'm happy with js-dom for a project like this, to be honest. I've used js-dom for years in other projects (mainly Vue) and not had any issues so I think for a small CSS project, js-dom will be fine. Would you agree?

That is a nice resource! Thanks for sharing.

[2021-10-27 07:30] jackdomleo7 opened #141 "[ENHANCEMENT]: Upgrade pipeline workflow Node LTS version to v16"
# Project Enhancement or Maintenance Idea

## Describe the enhancement or maintenance

On 26<sup>th</sup> October 2021, Node replaced v14 of Node as the LTS version with v16, since v14 is now in maintenance mode. We should update the pipeline to use v16 of Node.

## Acceptance criteria

- [ ] Replace `14.x` with `16.x` in the pipeline workflow
- [ ] Update `engines` property in `package.json`

##

[2021-10-30 16:55] #127 closed

[2021-10-30 17:06] #141 closed

[2021-10-30 17:11] jackdomleo7 commented on #133
Blocked still due to waiting for static builds to be supported by Nuxt 3

[2021-10-31 21:49] jackdomleo7 opened #144 "[ENHANCEMENT]: Generate minified CSS files too"
# Project Enhancement or Maintenance Idea

## Describe the enhancement or maintenance

It'd be worth including an option to include a minified version of the Checka11y.css stylesheets as well as the expanded versions. Projects such as [Checka11y.css browser extension](https://github.com/jackdomleo7/Checka11y.css-browser-extension) would really benefit from the smaller file size stylesheets being a

[2021-11-01 18:44] tannerdolby commented on #144
👋 @jackdomleo7 I think this is a great idea and completely agree there is no harm in providing a minified stylesheet to give users the option.

I've used the npm package [`clean-css`](https://www.npmjs.com/package/clean-css) for minifying CSS in the past. Other options for minifying exist but this is just one I've enjoyed using for build-time minifications.

[2021-11-02 00:23] tannerdolby commented on #113
I apologize for the delay on this @jackdomleo7!

I got around to rewriting some of the tests in Jest, turns out the majority of the tests require `::after` or `::before` Pseudo element selectors which causes quite a big problem because `jsdom` [doesnt support ::before and ::after](https://github.com/jsdom/jsdom/issues/1928) to allow for getting the `content` property from a pseudo element. Recreat

[2021-11-02 08:17] jackdomleo7 commented on #144
Ah nice! I've used cssnano in the past but I'm happy with any tool that does the job. I wasn't aware of clean-css though, it looks good, thank you.

[2021-11-02 08:21] jackdomleo7 commented on #113
Hi @tannerdolby, absolutely no worries (there is no time limit - except for the fact that a person will automatically be unassigned from an issue after 3 months of inactivity 🙂).

That is really interesting and really useful to know! I think based on this, then I agree, we should stick with Cypress because it seems to be the best tool for the job. Thank you.

[2021-11-06 06:09] tannerdolby commented on #117
Ok will do :)

Fortunately for us there weren't very many changes to be made for updating Cypress from 6 to the latest version 8.7.0. In terms of performance improvements that I noticed, I'd say its safe to remove any looping using `.each()` for checking a single element in `index.html`.

This occurs for the `accesskey` test and a few others, the majority of them benefit from using `.each()` as th

[2021-11-07 19:47] #117 closed

[2021-11-07 19:48] jackdomleo7 commented on #117
Thanks again @tannerdolby for the recent PR! @Manishgupta200, if you're still interested, if you can find any other ways that Tanner may have missed to improve the tests, I'd be happy for you to do so. No worries if not though 🙂

[2021-11-07 20:25] Manishgupta200 commented on #117
Yaa, thanks for your appreciation

[2021-11-08 07:24] #113 closed

[2021-11-09 09:54] #144 closed

[2021-11-30 04:59] alvaromontoro commented on #108
@Deep1Shikha are you still working on this one? If not, maybe I can pick it up :)

[2021-11-30 17:13] jackdomleo7 commented on #108
Doesn't look like @Deep1Shikha has made any progress yet (https://github.com/Deep1Shikha/Checka11y.css). Maybe we could give them a week to respond and if not, I can assign to @alvaromontoro?

[2021-12-07 13:36] alvaromontoro commented on #108
@jackdomleo7 assign it to me. I will work on it this week(end).

[2021-12-08 03:14] alvaromontoro opened #151 "[BUG]: Warnings are prioritized over errors"
# Bug Report

## Details of the bug

Working on the `longdesc` task (issue #108), I found that in some cases where I expected an error, a more generic warning was displayed. This happens because the selectors for error and warning have the same specificity and in checka11y.scss, we have the following code:

[code]
If specificity is the same for both selectors, the one appearing later in the code w

[2021-12-08 03:19] alvaromontoro commented on #151
IF this is considered a valid bug, I could make the change as part of #108 (as it would have a dependency on it anyway) or put that one on hold until someone does this one.

[2021-12-08 09:17] jackdomleo7 commented on #151
Really good find @alvaromontoro! Honestly surprised I never spotted this. I'm happy with your solution (but could you add a comment explaining why warnings must be specified first) and I'm happy for you to add it to #108 (will just need to link both issues to your PR) 🙂

[2021-12-09 00:33] alvaromontoro commented on #151
The idea behind this change is that if an element has more than one alert, the most severe one should be displayed. It's a worst-case scenario type of situation. If a component is flagged with a warning and an error, the latter should take priority because it is more important to fix. Warnings are "should fix," errors are "must fix."

How does this impact Checka11y.css? It's about specificity and

[2021-12-11 14:31] alvaromontoro opened #153 "[A11Y FEATURE]: The page <title> should not be empty"
# A11y Feature Request

## Describe the new a11y feature

Web pages have titles that describe their topic or purpose. Titles go in the `<title>` tag inside the `<head>`, and are displayed on the top bar of the browser as well as announced by assistive technologies (AT).

The new feature would be to show an error/warning if the title is missing or empty. This will match the [WCAG Level A accessibil

[2021-12-11 14:36] alvaromontoro commented on #153
I don't think the first acceptance criteria is possible to match only with CSS (it would be if browsers supported [`:has() relational pseudo-class`](https://developer.mozilla.org/en-US/docs/Web/CSS/:has)... but they don't 😢).

Maybe we could add a rule for that. No browser will match it at the moment, but it could work (one can hope) in the future. Something like this:

[code]

[2021-12-11 15:57] alvaromontoro opened #154 "[A11Y FEATURE]: Allow user zoom"
# A11y Feature Request

## Describe the new a11y feature

Some people need to zoom/increase the size of the page so they can read the text or see details in the pictures. Developers may disable that zoom functionality by using the "viewport" meta tag, and that can turn into an accessibility problem.

## Acceptance criteria

- [x] Show a warning if the viewport tag caps the zoom size (`maximum-scal

[2021-12-11 17:27] #108 closed

[2021-12-11 17:27] #151 closed

[2021-12-11 17:35] jackdomleo7 commented on #153
Good idea @alvaromontoro! I'm happy to go ahead with this feature!

For the criterion where the `<title>` isn't present, I'm happy with your suggested approach as long as it doesn't impact browsers that don't support it. I'd also suggest in the Checka11y.css docs, we'd label it as "partial feature support" or something.

Thank you for suggesting!

[2021-12-11 17:37] jackdomleo7 commented on #154
Thanks @alvaromontoro for this suggestion! I'd be happy to implement this, however I'm wondering if it should be a warning since there are some cases where web apps can disable zooming and with good reason. Unfortunately, though, can't think of any off the top of my head. Let me know what you think 😊

[2021-12-11 22:06] alvaromontoro commented on #153
Thank you, @jackdomleo7! Please assign the task to me :)

[2021-12-11 22:09] alvaromontoro commented on #154
I think the maximum scale could be helpful when developing hybrid apps for mobile, to make it look more like a native app.

A warning should be fine for this.

[2021-12-11 23:24] jackdomleo7 commented on #154
Awesome, in which, I'm happy to go ahead with this feature!

[2021-12-20 22:41] alvaromontoro commented on #153
Exciting CSS news: https://twitter.com/jensimmons/status/1473051429115940868

This selector may end up working sooner than expected (at least on Safari):

[code]

[2021-12-21 08:32] jackdomleo7 commented on #153
That's interesting!!

[2021-12-21 08:36] #153 closed

[2021-12-21 13:07] alvaromontoro commented on #154
Assign this ticket to me, please.

[2022-01-14 16:38] #154 closed

[2022-01-17 19:45] jackdomleo7 commented on #119
Hi @caseynv, have you made any progress on this? If not, since it has been inactive for 3 months, it'll have to be unassigned and available for someone else to pick up (maybe @tannerdolby if he's still interested).

[2022-01-18 01:28] tannerdolby commented on #119
👋  @jackdomleo7

Depending on @caseynv's response, I'm happy to take this on. It bugged me quite that I couldn't find the issue when we first discussed it awhile back, so I'm eager to get to the bottom of the problem.

[2022-09-26 17:21] Mohit-Aasirwal commented on #119
Hey! Can I be assigned to this issue?

[2022-09-27 11:16] jackdomleo7 commented on #119
Hi @Mohit-Aasirwal, sure, thank you!